@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {
    font: 400 1rem Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

hr {
    border: 1px solid #FF1493;
    border-radius: 10px;
    margin-top: 0px;
}

.center-title{
    text-align: center;
    margin-right: 7%;
}

.text-rem-1{
    font-size: 1.5rem;
    margin: 8px 15px 0px 15px ;
    cursor: pointer;
    width: 1fr;
}
.text-rem-2{
    font-size: 2.5rem;
    cursor: default;
    text-align: center;
    margin-right: 94px;
}

h1{
    text-align: center;
}
.opcAdm{
    padding: 0 10px 0 0;                           
 }
.radios{
    display: flex;
    justify-content: start;
    padding: 10px 0;
 }
.radios label{
     font-size: 20px;
 }
input, button, textarea, select, label {
    font: 400 2rem Roboto, sans-serif;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #FF1493;
    color: #fdfdfd;
}

hr {
    border: 1px solid #FF1493;
    border-radius: 10px;
}
.navbar-toggler{
    position: absolute;
    right: 20px;
}
@media (min-width: 992px) {
    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
        margin-top: 15%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
   .container .row .col{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form-signin {
        width: 75%;
    }
}

@media (max-width: 575.98px) {
    .container .row .col{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .text-rem-2{
        margin-right: 0px;
    }
    .form-signin {
        width: 75%;
    }
}