body {
    background-color: #fff;
}

.float-left h3 {
    margin: 30px 110PX;
}

.nav a {
    cursor: pointer;

}

.nav a:hover,
i:hover {
    color: #FF5F98;
}

.btn-pesquisar {
    cursor: pointer;
}

.tabela {
    padding: 30px 80px;
    text-align: center;
}

.tabela .table {
    border: solid 1px #cccc;
    margin-bottom: 2.5rem;
}

.tabela thead {
    background-color: #FF5F98;
}

.tabela tbody tr:nth-child(odd) {
    background-color: #fff;
}

.tabela tbody tr:nth-child(even) {
    background-color: #F8C0CD;
}

.btn {
    position: absolute;
    right: 8rem;
    background-color: #FF5F98;
    color: #fff;
    border: none;
    padding: 12px;
}

header {
    width: 100%;
    margin-bottom: 3%;
    border-bottom: solid 1px #CCC;
}

.logo {
    width: 63px;
}

header .nav {
    display: flex;
    justify-content: space-between;
    padding: .8rem 2rem;
    align-items: center;
}

header .nav a {
    color: black;
    text-decoration: none;
    font-size: 20px;

}

.chk {
    height: 20px;
    width: 20px;
}

.barraPesquisa {
    width: 40%;
    padding: 1rem;
    right: 6.25rem;
}

/**/
.navbar-toggler {
    position: absolute;
    right: 20px;
}

@media (max-width: 676px) {
    /* .barraPesquisa{
    width: 85%;
    right: 2rem;
    }
    */

    .tabela {
        margin: 0 20px;
        padding: 5px;
        overflow: auto;
    }



}