*{
    margin: 0;
    padding: 0;
}
.titulo{
    text-align: center;
}
.ver-atividade{
    margin: 10px 15px;
    background-color: palevioletred;
    color: black;
    border: none;
    width: 90%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 700px){
    .ver-atividade{
        margin: 10px 11px;
        background-color: palevioletred;
        color: black;
        border: none;
        width: 20%;
        height: 50px;
    }
}