*{
    margin: 0;
    padding: 0;
}
i{
    margin: 5px 0px;
    color: #FF1493;
}
.titulo{
    text-align: center;
}
.ver-atividade{
    outline: none;
    margin: 10px 15px;
    background-color: #FF1493;
    color: white;
    border: none;
    width: 90%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ver-atividade:hover{
    color: white;
}
@media only screen and (min-width: 700px){
    .ver-atividade{
        margin: 10px 10px;
        background-color: #FF1493;
        color: white;
        border: none;
        width: 25%;
        height: 50px;
        white-space: normal;
    }
}