.border-size-b {
    border-bottom: 2px solid black;
}

.border-input {
    border-radius: 5px;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 10px;
}

/* fieldset {
    border: 1px solid black; 
    padding: 3px;
    border-radius: 10px;
    height: 90%;
    background-color: lightpink;
} */

legend {
    font-size: 20px;
}

label {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-size: 15px;
    margin-right: 3.5px;
}

.center {
    display: flex;
    align-items: center;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #e082c1;
    color: black;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: rgb(236, 71, 195);
    color: black;
}

th {
    background-color: rgb(236, 71, 195);
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    height: 15px;
    width: 15px;
    background: #cbd1d8;
    appearance: none;
    position: relative;  
    /* top: 3px; */
    outline: none;
    margin-right: 3px;
  }
  
  .option-input:checked {
    background: #FFF;
    border: solid 5px #ff1493;
    color:red;
  }
  
  .option-input.radio {
    border-radius: 50%;
  }