@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select, label{
    font: 400 18px Roboto, sans-serif;
}

hr {
    border: 1px solid #FF1493;
    border-radius: 10px;
}

button {
    cursor: pointer;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #FF1493;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #FF1493;
}

.fa-arrow-left{
    font-size: 1.3rem;
    color: #FF1493;
}

.center-title{
    text-align: center;
    margin-right: 7%;
}

.text-rem-1{
    font-size: 1.5rem;
    margin: 8px 15px 0px 15px ;
    cursor: pointer;
    width: 1fr;
}
.text-rem-2{
    font-size: 2.5rem;
    cursor: default;
}
hr{
    margin-top: 0px;
}

.erro{
    border: red solid 1px;
}
