@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

input, button, textarea, select, label{
    font: 400 16px Roboto, sans-serif;
}

a, tr, th, p, legend {
    font: 400 18px Roboto, sans-serif;
}

hr {
    border: 1px solid #FF1493;
    border-radius: 10px;
}
