@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select, label {
    font: 400 18px Roboto, sans-serif;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #FF1493;
    color: #fdfdfd;
}

hr {
    border: 1px solid #FF1493;
    border-radius: 10px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 15%;
}